{

    margin, 0;
    padding, 0;

}


 .cabeçalho{
      background-color: blueviolet;
      color:  rgb(219, 48, 91);
      display: flex;
      justify-content: space-around;
      padding: 24px 0;
 }
    cabeçalho-imagem{
          width: 80%;

    }
   cabeçalho-lista-item{
       display: inline-block;

   }
    
    .escola-imagem{width: 20%;}
    .escola{
         display: flex;
         background-image: -o-linear-gradient( pink, rgb)219, 48, 91);
         justify-content: center;
         align-items: center

  }
  .estudante-div-conteudo{
      width: 25%;
  }
  
.escola-titulo{
    padding: 24px 0;
}
 .estudante-imagem{
     width: 10%;
 }
  
 .estudante-icone{
     width: 03%;
 }

  
  




